html {
    scroll-behavior: smooth;
}

* {
    box-sizing: border-box;
}

body {
    height: 2000px;
    width: 100%;
}

header {
    position: sticky;
    top: 0px;
    background-color: rgba(100, 100, 107, 0.866);
    height: 80px;
    display:flex;
    justify-content: flex-start;
}

header img {
    height: 60px;
    width: 60px;
    border-radius: 100%; 
}

header h1 {
    font-weight: bold;
    font-size: xx-large;
    color: azure;
    font-family: IndieFlower;
}

@font-face {
    font-family: IndieFlower;
    src: url(../Fonts/IndieFlower.ttf);
}

nav{
    margin-left: auto;
    width: 600px;
    margin-top: 30px;
}

ul {
    display: flex;
    justify-content: space-around;
    
}

li{
    background-color: rgb(68, 63, 63);
    width: 100px;
    height: auto;
    text-align: center;
    display: flex;
    justify-content: center;
}

a{
    display: inline-block;
    text-align: center;
    font-family: IndieFlower;
    color: azure;
    text-decoration: none;
}

footer {
    background-color: rgba(100, 100, 107, 0.866);
    position: relative;
    top: 100%;
    display: flex;
    justify-content: center;
    
}

.telefon {
    
}

.adreça {
    
}

#copy {

}
