html {
    scroll-behavior: smooth;
}

* {
    box-sizing: border-box;
}

body {
    height: 2000px;
}

header {
    position: sticky;
    top: 0px;
    background-color: rgba(100, 100, 107, 0.866);
    height: 80px;
    display:flex;

}

header img {
    height: 60px;
    width: 60px;
    border-radius: 100%;
    position: relative;
    top: 12%;
    left: 5%; 
}

header h1 {
    font-weight: bold;
    font-size: xx-large;
    position: relative;
    top: 35%;
    left: 20%;
    color: azure;
    font-family: IndieFlower;
}

@font-face {
    font-family: IndieFlower;
    src: url(../Fonts/IndieFlower.ttf);
}

nav{
    position: relative;
    top: 25%;
    left:55%;
    width:40%;
}

li{
   display: inline;
}
a{
    display: inline-block;
    padding: 2%;
    background-color: brown;
}